{{define "navigation_bar"}}
<body style='margin: 0 auto;'>
<div id='body_wrap' style='min-width: 996px; width: 100vw; margin:0 auto; padding:0; position: relative;'>
  <div class='col-12'>
      <div class='row row-padding-small'></div>
      <div class='col-4'></div>
      <div class='col-4' style='text-align: center'>
        <nav class = 'poker_nav'>
            <a href="">Home</a>  |
            <a href="">Play Poker</a>  |
            <a href="">Poker Rules</a> |
            <a href="">About</a>
        </nav>
      </div>
      <div class='col-4'>
          <nav class = 'poker_nav' id = 'user_nav_info' style=' padding-left: 40%;'>

          </nav>
      </div>
  </div>
{{end}}
